@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10 and higher CSS styles go here */
    .uk-panel-box-primary {
        background-color: #ee6800;
        background-image:url(../images/textures/ie-diagonal-noise.png);
    }
    .nav li, .pagenav li, footer {
        background-color: #ee6800;
        background-image:url(../images/textures/ie-diagonal-noise.png);
        color: #f7f7f7;
    }
    #menu-right-1 li {
        background-image:url(../images/textures/diagonal-noise.png);
    }
    .uk-navbar-flip>li {
        background-color: #f3f3f3;
    }
}