.container {
	@extend .uk-container;
	@extend .uk-container-center; // centres things
	@extend $control-height;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

/* use this when extending a uikit grid style */
%borderbox{
	box-sizing: border-box;
    //width: 100%;
}


table {
	@extend .uk-table;
}
button {
	@extend .uk-button;
}

.cat-grid {
	// @extend %borderbox;
	// @extend .uk-grid;
	@extend .uk-grid-match;
	@extend .uk-grid-width-small-1-1;
	@extend .uk-grid-width-medium-1-2;
	@extend .uk-grid-width-large-1-4;

	& > * {
	    @extend %borderbox;
	}

}
.cat-half {
	@extend .uk-width-1-1;
		@extend .uk-width-medium-1-1;
		@extend .uk-width-large-1-2;
}

.cat-panel {
	// @extend .uk-panel;
	// @extend .uk-panel-box;
	//@extend .uk-panel-box-primary;

}


// Icons in page menus
$icons: 'heart', 'calendar-plus-o', 'question-circle', 'meh-o', 'list', 'task', 'thumbs-up-o', 'sitemap', 'users', 'gg', 'rocket';

@each $i in $icons {
  li.#{$i} i {
    @extend .uk-icon-#{$i};
    font-family: FontAwesome;
  }
}
li.menu-item i {
    //font-family: FontAwesome;	
}


.uk-accordion {
	div {
		box-sizing: border-box;
	}
	.uk-accordion-content {
		@extend .uk-grid;
		.data-title{
			@extend .uk-width-1-10;
		}
		.data-definition{
			@extend .uk-width-9-10;
		}


	}

}

.widget ul {
	list-style: none;
  padding-left: 15px;
}


// document download panels
.docu-content{
	height: 100%;
	.uk-panel-title {
		text-transform: none;
		padding-bottom: 15px;		
	}
	a:last-child{
		margin-top: auto;

	}
}

// Page subnav
.pagenav {
	margin-top: 1em;
	margin-bottom: 1em;
		.uk-panel.uk-grid {
		padding-left: 0; // gets padding from grid
		margin-left: 0; // fix extra -25px from grid
		padding-top: 5px;
		padding-bottom: 5px;
		i {font-size:2em}
		h3{text-align: right;}
	}
}

#breadcrumbs{margin-top: 10px;}

//TEMP FIX

figure{padding-right: 20px;}