
/* theme: Default */

table {
	@extend .uk-table;
}
button {
	@extend .uk-button;
}

.cat-grid{
	    box-sizing: border-box;	
	@extend .uk-grid;
	@extend .uk-grid-match;
	@extend .uk-grid-width-medium-1-2;
	@extend .uk-grid-width-large-1-4;
	& > * {
	    box-sizing: border-box;
	}
	.cat-half{
			@extend .uk-width-large-1-2;
	}
}


.cat-panel, .pagenav li{
	@extend .uk-panel;
	@extend .uk-panel-box;
	//@extend .uk-panel-box-primary;
}

.container {
	@extend .uk-container;
}

// Icons in page menus
$icons: 'heart', 'calendar-plus-o', 'question-circle', 'meh-o';

@each $i in $icons {
  li.#{$i} i {
    @extend .uk-icon-#{$i};
    font-family: FontAwesome;
  }
}


.uk-accordion {
	div {
		box-sizing: border-box;
	}
	.uk-accordion-content {
		@extend .uk-grid;
		.data-title{
			@extend .uk-width-1-10;
		}
		.data-definition{
			@extend .uk-width-9-10;
		}


	}

}