

.uk-navbar-flip {
	a {
	color: $neutral-dark!important;
	}
}

.uk-navbar-flip>li>a:active,
.uk-navbar-flip>li>a:hover {
	color: text-light!important;
}

.wrap .content .main {
	padding-bottom: 3em;
}

// HEADERS 

h4 a {
	color: $neutral-dark;
}



// BUTTONS 

.secondary,
.uk-button, button {
	@extend %cta;
}

// LISTS

%panel-primary-list {
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
		
	}
	li a {
		color: text-light;
		padding: 3px 6px;
		&:hover {
		@extend %blue-crush;
	}
	}
}

.uk-panel-box {
	@extend %panel-primary-list;	
}


// FOOTER

@mixin footer-colours(){
	 @include block-colours($orange-crush, $text-light);
	 	}



footer {
	@include footer-colours;
	h3, a {
		color: $text-light;
	}
	.strapline {
		text-align: center;
		font-size: 1.8em;
		@include block-colours($dark-orange, $text-light);
		}
		
	section.widget {
		background: none;
	}
	
}



.credits {
	text-align: center;
	display: block;
	a {
	color:  text-light;
}
}
 
.pagenav li {
	@extend %orange-crush;
	// height:  %half-height;
	&:hover {
	@extend %grey-blanket;
	}
}



// TABS

.uk-tab li a {
	font-size: 1.3em;
	// background: $tab-hover-background;
	@extend %tabs;
	&:hover {
	@extend %tabs;
	}
}

.uk-active h2 {
	margin-top: 12px;
	&::after {
	background:  none;
	}
}




	
.uk-width-medium-1-1 {
        margin-bottom: 1em;

}