

.uk-navbar-flip {
	a {
	color: $text-darker!important;
	}
}

.uk-navbar-flip>li>a:active,
.uk-navbar-flip>li>a:hover {
	color: text-light!important;
}

#menu-right-1 li {
	@extend uk-width-1-3;
}

// HEADERS 

h4 a {
	color: $neutral-dark;
}



// BUTTONS 

.secondary,
.uk-button, button {
	@extend %cta;
}

// LISTS

%panel-primary-list {
	ul {
		padding-left: 0;
	}
	li {
		list-style: none;
		
	}
	li a {
		color: $text-light;
		padding: 3px 6px;
		border-radius: $radius;
		display: block;
		&:hover {
		@include block-colours($blue-crush, $text-light);
	}
	}
}

.uk-panel-box {
	@extend %panel-primary-list;	
}


// FOOTER

@mixin footer-colours(){
	 @include block-colours($orange-crush, $text-light);
	 	}



footer {
	@include footer-colours;
	margin-top: 2em;
	h3, a {
		color: $text-light;
	}
	.strapline {
		text-align: center;
		font-size: 1.8em;
		@include block-colours($dark-orange, $text-light);
		}
		
	section.widget {
		background: none;
	}
	
}


.credits {
	text-align: center;
	display: block;
	font-size: 80%;
	a {
	color:  text-light;
	}
}
 


// TABS

.uk-tab li a {
	font-size: 1.3em;
	// background: $tab-hover-background;
	@extend %tabs;
	&:hover {
	@extend %tabs;
	}
}

.uk-active h2 {
	margin-top: 12px;
	&::after {
	background:  none;
	}
}

