footer {

		.cat-col:last-of-type{
			@extend .uk-width-large-1-2;
		}
		section.widget {
			@extend .uk-panel ;
			@extend .uk-panel-box ;
			// replace with @extend .cat-panel?
			
		}

	
}

header.banner .cta {
	margin-bottom: 10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.uk-panel-box-primary {
	    background: #ee6800;
	}
	.nav li, .pagenav li, .uk-navbar-nav li, footer {
   		background: #ee6800;
   		color: #f7f7f7;
	}
}