footer {

		.cat-col:last-of-type{
			@extend .uk-width-large-1-2;
		}
		section.widget {
			@extend .uk-panel ;
			@extend .uk-panel-box ;
			// replace with @extend .cat-panel?
			
		}

	
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/* IE10 and higher CSS styles go here */
	.uk-panel-box-primary {
	    background-color: #ee6800;
	    background-image:url(dist/images/textures/ie-diagonal-noise.png);
	}
	.nav li, .pagenav li, .uk-navbar-nav li, footer {
   		background-color: #ee6800;
   	    background-image:url(dist/images/textures/ie-diagonal-noise.png);
   		color: #f7f7f7;
	}
	.uk-navbar-flip>li {
    	background-color: #f3f3f3;
	}
}

